



{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="{% static 'uiux/css/trial.css' %}" />
    <script type="text/javascript" src="{% static 'uiux/js/trial.js' %}"></script>
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="bp_logo" src="{% static 'uiux/image/bp_logo8_x.png' %}"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class=""><a href="#">About</a></li>
                    <li class=""><a href="#">Services</a></li>
                    <li class=""><a href="#">Testimonials</a></li>
                    <li class=""><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

    </nav>




</body>
</html>


<!--style="width: 200px;"-->
















